# Python MySQL Connect

### Add Imports

In [ ]:
#import MySQl Libaries
import mysql.connector

# Import Data Libaries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

#Magic Function
%matplotlib inline

> Add more imports above depending on the nature of analyzing that need to be done.

### Connecting Datset File

In [ ]:
# Read the CSV - only use if you have a CSV file to import into a dataframe
df=pd.read_csv(r'...')

- Use the method above to handle raw csv files with data only!

### Connecting to MySQL DB

*Connect to ether MySQL Workbench or Azure MSSM platform to work with data sets direclty on the cloud*

In [ ]:
# Import MySQL into a dataframe
import mysql.connector as sql
import pandas as pd

db_connection = sql.connect(host='localhost', database='data_elements_class', user='root', password='Sp111579')

db_cursor = db_connection.cursor()

db_cursor.execute('SELECT * FROM mod3')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)

df = pd.read_sql('SELECT * FROM mod3', con=db_connection)

- Imports - import libaries needed to for data processing
- Connection - connect to local or hosted server
- Cursor - The MySQLCursor class instantiates objects that can execute operations such as SQL statements. 
- Exicute Cursor - execute SQL code to access db scehms/tables
- FetchAll() - gett all Rows for current data set
- DataFrame - add MySQL tables to Python dataframe
- Read_sql select database table for inferences' 

-- https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlconnection.html

### Check Dataframe

In [ ]:
# Print head of MySQL database or csv file (5) only first 5 rows.

print(df.head(5))

# Preproccess Data Check

### Describe Data

In [ ]:
# Use this to get quick stats on all columns of data
df.describe()

In [ ]:
#describes the DBA column as you can see dunkin donuts is the most frequent
print(df.YOUR_COLUMN.describe())

### Find NULL and Missing values in Data

In [ ]:
#counts all null values in data frame (both column and rows)
print(df.isnull().sum().sum())

In [ ]:
#counts all null values in each column
print(df.isnull().sum())

In [ ]:
#show null values
print(df.isnull())

### Check Data Types

In [ ]:
# Chaeck Data Types
df.dtypes

# Preproccessing:

**Pandas** _ **dtype** _ **mapping:**

| Pandas dtype | Python type | NumPy type | Usage |
| --- | --- | --- | --- |
| object | str or mixed | string\_, unicode\_, mixed types | Text or mixed numeric and non-numeric values |
| int64 | int | int\_, int8, int16, int32, int64, uint8, uint16, uint32, uint64 | Integer numbers |
| float64 | float | float\_, float16, float32, float64 | Floating point numbers |
| bool | bool | bool\_ | True/False values |
| datetime64 | NA | datetime64[ns] | Date and time values |
| timedelta[ns] | NA | NA | Differences between two datetimes |
| category | NA | NA | Finite list of text values |

#### Resources to convert and work with datatypes

> **Overview of Pandas Data Types:**  https://pbpython.com/pandas_dtypes.html

In [ ]:
# Get info back on core dataframe
df.info()

## Categorical Data

> Use this section to work with only categorical data types for pre-proccessing and inferencing data into a new data frame to work with. 

*** Pandas object is a reference to string types.***

| Pandas dtype | Code varible | Dataframe Varible|
| --- | --- | --- | 
 string  |    = 'object'   |   = obj_df

### Add Categorical Data  Into a Seperate Dataframe

In [ ]:
# ADD CATEGORICAL DATA TO A NEW DATAFRAME
# Selct all categorical data objects - obj_dfs = string
obj_dfs = df.select_dtypes(include=['object']).copy()
obj_dfs.head()

In [ ]:
# Do more work here

## Encoding Categorical Data

This section incudes: 
- Encoding catergrical data varibles with bianry numbers with cat.codes
- Dummy Varibles
- One Hot Encoding

In [ ]:
#Count colum valuesmake sure they are evenly processed 
obj_df["YOUR_COLUMN"].value_counts()

In [ ]:
#Double Check DataTypes
obj_df.dtypes

In [ ]:
# Use cat.codes accessor labeling for colums in dataFrame - YOUR_COLUMN 
# YOUR_DISC = CREATE A NEW COLUM GHEAD DESCRIBTION FOR YOUR ENCODED DATA
# (COPY THIS CODE BLOCK AND ADD COLUMN DATA FOR EACH COLUMN)
obj_df["YOUR_DISC"] = obj_df["YOUR_COLUMN"].astype('category').cat.codes

In [ ]:
# cHECK NEW COLUMN WAS CREATED AT END OF TABLE WITH ENCODED VARIBLE FOR ENTIRE COLUMN
obj_df.head()

In [ ]:
Described Encoded data
obj_df.describe()

In [ ]:
# obj_df CAN NOW BE USED WITH NUMARICAL DATA STATISITICS AND INFERENCES BELOW
# Sperate values into X and Y values for stats
# Use advanced grouping technuiqes below.

## Add Numarical Data Types

>  Use this section to proccess numerical data by adding it to a new dataframe.

 
 <hr>
 **Working With Numarical Data:**
 
| Pandas dtype | Code varible | Dataframe Varible|
| --- | --- | --- | 
- int64  |    = 'int'   |   = num_df
- float64   | = 'float'  |  = flt_df
- datetime64 | = 'datetime'| = dat_df
- bool      |  = 'bool'   |  = bol_df

*** Only Use the type you need and copy as many times to fit your data ***

In [ ]:
# Selct all numarical  data objects - num_df = numbers
num_df = df.select_dtypes(include=['int']).copy()
num_df.head()

In [ ]:
# Selct all numarical  data objects - num_df = numbers
flt_df = df.select_dtypes(include=['float']).copy()
flt_df.head()

In [ ]:
# Selct all numarical  data objects - num_df = numbers
dat_df = df.select_dtypes(include=['datetime']).copy()
dat_df.head()

In [ ]:
# Selct all numarical  data objects - num_df = numbers
bol_df = df.select_dtypes(include=['bool']).copy()
bol_df.head()

In [ ]:
# Do more work here

## Imputation

> In this section use the code below pertianing to the data frame of interest to replace missing values, delete rows, impute data, and encode.

* In statistics, imputation is the process of replacing missing data with substituted values. When substituting for a data point, it is known as "unit imputation"; when substituting for a component of a data point, it is known as "feature  imputation"

### Replace NULL and Missing Values

 - Best used on categorical data
 - Replace numarical data with MEAN vlaues
 
 <hr>
 
 CHANGE DATAFRAME TO FIT YOUR NEEDS

In [ ]:
# Clean up REPLACE any missing values MAKE SURE TO CHANGE YOUR DATAFRAME
#obj_dfS - OR -  obj_dfN
obj_df[obj_df.isnull().any(axis=1)]

In [ ]:
# Preproccess Data - YOUR COLUMN
obj_df["YOUR_COLUMN"].value_counts()

In [ ]:
# Fill in NULL values for column - Your_Column : Your_Value_to_be_Changed

obj_df = obj_df.fillna({"YOUR_COLUMN": "REPLACE_VALUE"})

In [ ]:
#....copy code above for each column you need to even out

### Replace NULL & Missing Fetures W/ MEAN Values - Numarical Data

> axis=0 argument calculates the column wise mean of the dataframe so the result will be axis=1 is row wise mean so you are getting multiple values.

- Specify index vlaue which = colum of data you want to work with.
- Even if we do not specify axis = 0, 
- The method will return the mean over the index axis by default

In [ ]:
# CALULATE full Dataframe MEAN  values for each column

num_df.mean(axis = 0)

In [ ]:
# skip the NULL values while finding the mean 
num_df.mean(axis = 1, skipna = True)

In [ ]:
#Claulating Individual row of data MEAN/Average
num_df["YOUR_COLUMN"].mean()

In [ ]:
num_df['YOUR_COLUMN'].max(): For maximum value

In [ ]:
 num_df['YOUR_COLUMN'].min(): For minimum value

In [ ]:
# Sumerizes colum and dataframe data with stats
print (num_df.describe())

In [ ]:
# get both sets of stats back
num_df['YOUR_COLUMN'].mean()
num_df.describe()

# Grouping Data

# Ploting Data Visulization

## Using Clean Data

## Univariate Plotting With Pandas
<hr>

_Plot has methods to alter size and visualization styles such as **figplot(6,6)**
to give the size of the plot an x vlaue of 6 inches and y vlaue of 6 inches. these can be changed_
 
See dtrials of how to manipulate data with panads methods here:

- Series data = https://pandas.pydata.org/pandas-docs/stable/reference/series.html
- Datframes = https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

### Bar charts and categorical data

> Bar charts are arguably the simplest data visualization. They map categories to numbers: 

- Replace df with your data fram unless you are still using orignail dataframe
- Use with both categorical and numarical data

In [ ]:
# ADD CATEGORICAL DATA COLUM TO GET STATS
df['YOUR_CLOUMN'].value_counts().head(10).plot.bar()

In [ ]:
# CONVERT Y AXIS TO PERCENTAGE VALUES
(df['YOUR_CLOUMN'].value_counts().head(10) / len(df)).plot.bar()

**Bar charts are very flexible: The height can represent anything, as long as it is a number. And each bar can represent anything, as long as it is a category.**

- Nominal categorical variables include things like countries, ZIP codes, types of cheese, and lunar landers. The other kind are ordinal categories:
- ordinal categories: things that do make sense to compare, like earthquake magnitudes, housing complexes with certain numbers of apartments, and the sizes of bags of chips at your local deli.

In [ ]:
# USING NOMINLA OR ORDINAL NUMARICAL DATA (CAN USE ENCODED, DUMMY DATA HERE)
df['YOUR_CLOUMN'].value_counts().sort_index().plot.bar()

### Line charts

** What would we do if the magazine rated things 0-100? We'd have 100 different categories; simply too many to fit a bar in for each one! In that case, instead of bar chart, we could use a line chart: **

- Use Line chart to measureuniuqe values
- Use line chart to visualize exccess amounts of data categories

> Unlike bar charts, they're not appropriate for nominal categorical data. While bar charts distinguish between every "type" of point line charts mushes them together. So a line chart asserts an order to the values on the horizontal axis, and the order won’t make sense with some data. 

<hr>

** Suppose that we're interested in counting the following variables: **

- The number of tubs of ice cream purchased by flavor, given that there are 5 different flavors. (NOMINAL) = BAR CHART
- The average number of cars purchased from American car manufacturers in Michigan.              (NOMINAL) = BAR CHART   
- Test scores given to students by teachers at a college, on a 0-100 scale.                      (ORDINAL) = LINE CHART
- The number of restaurants located on the street by the name of the street in Lower Manhattan.  (ORDINAL) = LINE CHART

In [ ]:
df['YOUR_CLOUMN'].value_counts().sort_index().plot.line()

### Area charts

> Area charts are just line charts, but with the bottom shaded in. That's it!

In [ ]:
# Use numarical ordinal data
df['YOUR_CLOUMN'].value_counts().sort_index().plot.area

### Interval data

Interval variables are the wind speed in a hurricane, shear strength in concrete, and the temperature of the sun. An interval variable goes beyond an ordinal categorical variable: it has a meaningful order, in the sense that we can quantify what the difference between two entries is itself an interval variable.

For example, if I say that this sample of water is -20 degrees Celcius, and this other sample is 120 degrees Celcius, then I can quantify the difference between them: 140 degrees "worth" of heat, or such-and-such many joules of energy.

- Line charts work well for interval data. Bar charts don't—unless your ability to measure it is very limited, interval data will naturally vary by quite a lot.

- Use  histogram for interval variable in our dataset, price (we'll cut price off at 200$ a bottle; more on why shortly).

### Histograms

> Histogram is special kind of bar plot that splits your data into even intervals and displays how many rows are in each interval with bars. The only analytical difference is that instead of each bar representing a single value, it represents a range of values.

In [ ]:
# Calulates average data frame row values with selcted colum data 
# based on specific column data specified by the conditions (< 100 +-)
df[df['YOUR_CLOUMN'] < 100]['YOUR_CLOUMN'].plot.hist()

#### Use code below to test Histogram

In [ ]:

# Not good for skewed data (Will only show one column)
# Only use if data is numarical and not skewed!!!
df['YOUR_CLOUMN'].plot.hist()

In [ ]:

# Check dataframe column (adjust (> 2000 to any number that fits your set)
df[df['YOUR_CLOUMN'] > 2000]

### Frequency Graphs

In [ ]:
fig, ax = plt.subplots()
df['YOUR_CLOUMN'].value_counts().plot(ax=ax, kind='bar')

### Pie Charts

In [ ]:
# Pie chart of entire dataframe
df.plot.pie(figsize=(6, 6))

In [ ]:
df['YOUR_CLOUMN'].plot.pie(figsize=(6, 6))

## Bivariate Plotting With Pandas

### Scatter plot
>  Bivariate plot is essntially a scatter plot. A simple scatter plot simply maps each variable X, Y of interest to a point in two-dimensional space. 

- Plot shows and should be used to show correlations
- Must use numarical data
- Category data must be encoded to numarical data and seperated to X Y varibles
- Best results data needs to be clean and even
- Best used with smaller datasets!!!

In [ ]:
# selct sample size and condition to be met (<100 +-) of fetures to compare to.
# scatter(x='YOUR_COLUMN_x', y='YOUR_COLUMN_Y') is ONLY the labels you can name them anything!!
df[df['YOUR_COLUMN_x'] < 100].sample(100).plot.scatter(x='YOUR_COLUMN_x_label', y='YOUR_COLUMN_Y_label')

### Hexplot
> A hex plot aggregates points in space into hexagons, and then colors those hexagons based on the values within them:

In [ ]:
# selct sample size and condition to be met (<100 +-) of fetures to compare to.
# scatter(x='YOUR_COLUMN_x', y='YOUR_COLUMN_Y') is ONLY the labels you can name them anything!!
df[reviews['YOUR_COLUMN_x'] < 100].plot.hexbin(x='YOUR_COLUMN_x_label', y='YOUR_COLUMN_Y_label', gridsize=15)

### Stacked plots
>  A stacked chart is one which plots the variables one on top of the other. Many pandas multivariate plots expect input data to be in this format, with one categorical variable in the columns, one categorical variable in the rows, and counts of their intersections in the entries.

- Is best to make a smaller sample dataframe frame for calualtions and visulizations

In [ ]:
# Plots entire dataframe
df.plot.bar(stacked=True)

### Area Plot
> Same principles as "Stacked Plot" mixed with a line chart instead of a bar chart

Like single-variable area charts, multivariate area charts are meant for nominal categorical or interval variables.

Stacked plots are visually very pretty. However, they have two major limitations.

The first limitation is that the second variable in a stacked plot must be a variable with a very limited number of possible values (probably an ordinal categorical, as here). Five different types of wine is a good number because it keeps the result interpretable; eight is sometimes mentioned as a suggested upper bound. Many dataset fields will not fit this critereon naturally, so you have to "make do", as here, by selecting a group of interest.

The second limitation is one of interpretability. As easy as they are to make, and as pretty as they look, stacked plots make it really hard to distinguish concrete values. For example, looking at the plots above, can you tell which wine got a score of 87 more often: Red Blends (in purple), Pinot Noir (in red), or Chardonnay (in green)? It's actually really hard to tell!

In [ ]:
# Plots entire dataframe
df.plot.area()

### Bivariate Line Chart
>Bivariate Line Chat is highly effective Because the line in this chart takes up so little visual space, it's really easy and effective to overplot multiple lines on the same chart.

In [ ]:
#Plots entire dataframe
df.plot.line()

## SeaBorn Plots

In [ ]:
# Import Seaborn agian for good measmeasure 
import seaborn as sns

In [ ]:
# Set parameters and themes
sns.set_theme(style="darkgrid")
plt.rcParams['figure.figsize'] = [6, 2]

## Load DataFrame into SeaBorn

> You must load datafram and colum vectors into seaborn valrible to proccess

## Join Plots
> URL: http://seaborn.pydata.org/generated/seaborn.jointplot.html?highlight=join%20plot

- requires x, y vectors or keys in data values
- More Seaborn plots and tutorials: http://seaborn.pydata.org/tutorial.html

In [ ]:
#Purple JoinPlot (color='m')
# USE SEABORN TO PLOT JOINGRID PLOT
# Custom the inside plot: options are: “scatter” | “reg” | “resid” | “kde” | “hex”
fig.set_size_inches(11.7, 8.27)
sns.jointplot(x=obj_df["YOUR_COLUMN_X"], y=obj_df["YOUR_COLUMN_Y"], kind='reg', truncate=True, xlim=(0, 60), ylim=(0, 5), color="m", height=10,)

In [ ]:
# Blue JoinPlot (edgecolor="skyblue")
# USE SEABORN TO PLOT JOINGRID PLOT
# Custom the inside plot: options are: “scatter” | “reg” | “resid” | “kde” | “hex”
fig.set_size_inches(11.7, 8.27)
sns.jointplot(x=obj_df["YOUR_COLUMN_X"], y=obj_df["YOUR_COLUMN_Y"], kind='scatter', height=15,linewidth=2, edgecolor="skyblue")

# Advanced Statistics and Visulization

## Multiple regresion Histogram

In [ ]:
# multiple histograms

df = df.set_index(['YOUR_COLUMN'])
df.iloc[0]=0
df=df.cumsum()
    
#Create Displot loop through column data features
for column in df.columns:
    plt.figure()             
    sns.distplot(df[column])