# **Module 02 QMB 4400**

<hr>

### Assignment Module 2:
Step 1: Read trump_forbes_richest_americans.csv file using NumPy.

Step 2: Use masked array concept to mask the array value where value=NA.

Step 3: Calculate average using masked.Mean function.

In [ ]:
# loading libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as geek 
import numpy.ma as ma

In [ ]:
#Creating a dataframe 1
df = pd.read_csv('/content/trump_forbes_richest_americans.csv', encoding='iso-8859-1')

In [ ]:
# Check for Null and missing values
df.isnull()[:10]

In [ ]:
# Count NUll values
df.isnull().count()

In [ ]:
# Drop Missiong values in a new dataframe
df1 = df.dropna()

In [ ]:
# Verify all null vlaues are droped
df1.isnull()[:10]

In [ ]:
# Count Masked values for verification
df1.count()

In [ ]:
# Use masked mean to calualte meand statistics
df1.mean()