# **Module 03 QMB 4400**

<hr>

### Asignment Module 3:
Step 1: Use Pandas to read the JSON file.
Step 2: Analyze the data.
Step 3: Update the zip code = blank or null to something meaningful such as Not Available.
Step 4: Write the JSON file using the Pandas.

In [ ]:
# loading libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Creating a dataframe 1
df = pd.read_json('/content/zips.json',lines=True)

In [ ]:
df.head(10)

In [ ]:
#counts all null values in each column
print(df.isnull().sum())

In [ ]:
# step 2 - Replace vlaues with NAN
df.replace(r'', np.NaN)

In [ ]:
df.replace(r'', 'Not Here')

In [ ]:
# Write data to JSON file
df.to_json(r'/content/ZipOutput.json')