# **Storing Output**

# **Module 04 Course Project - Storing Output**

<hr>

### Course Project Module 4:
Then write a Python script that can perform following tasks.

- Step 1: Create two tables inside SQLite database
- Step 2: Store following outputs


Neighbourhood, count(No-Shows=Yes)

PatientID, count(No-Shows=Yes)

## **Importing Libaries**

In [ ]:
# loading libraries
import sqlite3 as sql
import pandas as pd
import numpy as np

## **Importing the Dataset**

In [ ]:
# Load data to dataframe
df = pd.read_csv('/content/noshowappointments.csv', encoding='iso-8859-1')

In [ ]:
# Check Data
df.head()

In [ ]:
# Create new dataframe wiht only YES values in feature column No-Show
df1 = df[df['No-show']=="Yes"]

In [ ]:
# Total number of patients with No-Show equal to Yes 
df1.shape

In [ ]:
tb1 = df1.PatientId.value_counts(dropna=True)

In [ ]:
# Check Data tb1
tb1.head()

In [ ]:
tb2 = df1.Neighbourhood.value_counts(dropna=True)

In [ ]:
# Check Data tb2
tb2.head()

In [ ]:
# Create Mysql Connection
conn = sql.connect('apt.db')

In [ ]:
# Create table 1 PatientId
df1.to_sql('PatientId', conn)

In [ ]:
# Create table 1 PatientId
df1.to_sql('Neighbourhood', conn)

In [ ]:
# Read SQL data into a new variable select all collumns and rows
sql1 = pd.read_sql('SELECT * FROM PatientId', conn)

In [ ]:
# Read SQL data into a new variable select all collumns and rows
sql2 = pd.read_sql('SELECT * FROM Neighbourhood', conn)

In [ ]:
# Check Data sql 1
sql1.head()

In [ ]:
# Check Data sql 2
sql2.head()

In [ ]:
# Join tables for easy visulization
output = pd.concat([sql1, sql2], axis=0)

In [ ]:
# Check final output
output.head()

In [ ]:
# Verify Join of output
output.shape

In [ ]:
# Print SQL joined tables to an output File
output.to_csv(r'NoShowOutput_mod4.csv', header=True, index=False, sep=',', mode='w', encoding= 'UTF8')